.DS_Store
RPI3_Configuration.txt
src/campusmeters/serverconfig.json
*.pyc
.idea/CIWS-Loggers.iml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
